<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Uixe.Watcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseControlFont</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <Uixe.Watcher.Properties.Settings>
      <setting name="frmLogin_Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="frmLogin_txtUser" serializeAs="String">
        <value>030800</value>
      </setting>
      <setting name="scMain_SplitterDistance" serializeAs="String">
        <value>166</value>
      </setting>
      <setting name="lanenoisselectall" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="paramsisselectall" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="buildparamsisselectall" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="frmparamsend_aototink" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LaneViewColWidth" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>44</string>
            <string>91</string>
            <string>92</string>
            <string>150</string>
            <string>65</string>
            <string>95</string>
            <string>77</string>
            <string>90</string>
            <string>200</string>
            <string>90</string>
            <string>106</string>
            <string>106</string>
            <string>80</string>
            <string>56</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SkinStyle" serializeAs="String">
        <value>Office 2016 Colorful</value>
      </setting>
      <setting name="tcovierwer_split" serializeAs="String">
        <value>321</value>
      </setting>
      <setting name="Ring" serializeAs="String">
        <value>facebook提示音</value>
      </setting>
      <setting name="SpeechLvSeTongDao" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpeedBlackListPlate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tco_chexingbufu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tco_chepaibufu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tco_chaoshichaosu" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="plazaid" serializeAs="String">
        <value>6500256</value>
      </setting>
    </Uixe.Watcher.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>