################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/TCS.Msg/bin/Debug
/TCS.Msg/obj
/Uixe.Watcher/.vs/TCS.Watcher/v16
/Uixe.Watcher/bin/Debug
/Uixe.Watcher/obj
/Uixe.Watcher/publish
/Uixe.Watcher/bin/Release/app.publish
/Uixe.Watcher/bin/Release
/Uixe.Bootloader/bin
/Uixe.Bootloader/obj
/Uixe.WatcherPlus/bin/Debug/net5.0-windows
/Uixe.WatcherPlus/obj
