################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/TCS.Msg/bin/Debug
/TCS.Msg/obj
/Uixe.Watcher/.vs/
/Uixe.Watcher/obj
/Uixe.Watcher/bin/
/libvlc_zip/obj
/libvlc_zip/bin/
/Uixe.Watcher/Uixe.Watcher.csproj.bak
/Uixe.Watcher/WinForms/frmMain.resx.bak
/Uixe.Watcher/WinForms/frmPlaza.resx.bak
/Uixe.Watcher/WinForms/frmSplashScreen.resx.bak
/Uixe.Watcher/WinForms/frmVNCViewer.resx.bak

# .NET build outputs
**/bin/
**/obj/
**/TestResults/

# VS / Rider caches
*.user
*.suo
*.userosscache
*.rsuser
*.DotSettings.user

# New Uixe.Copilot artifacts
/src/**/bin/
/src/**/obj/
/tests/**/bin/
/tests/**/obj/
/tests/**/TestResults/
