<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Uixe.Bootloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
    <applicationSettings>
      <Uixe.Bootloader.Properties.Settings>
        <setting name="svnusername" serializeAs="String">
          <value>readonly</value>
        </setting>
        <setting name="svnpassword" serializeAs="String">
          <value>1-q2-w3-e4-r5-t</value>
        </setting>
        <setting name="appname" serializeAs="String">
          <value>uixe</value>
        </setting>
        <setting name="applocpath" serializeAs="String">
          <value>Uixe\</value>
        </setting>
        <setting name="DefaultPlaza" serializeAs="String">
          <value>9999</value>
        </setting>
        <setting name="DefaultAppName" serializeAs="String">
          <value>uixe</value>
        </setting>
        <setting name="DefaultRootSvr" serializeAs="String">
          <value>http://10.165.84.26:18080/svn/</value>
        </setting>
      </Uixe.Bootloader.Properties.Settings>
    </applicationSettings>
</configuration>
